<div ng-hide="transfer_success">
  <h1>Deposit</h1>
  <form ng-submit="depositFunds(address_from,amount_from)">
    <div class="form-group">
      <label for="addressFrom">Adress From</label>
      <select ng-model="address_from" id="addresFrom">
      <option ng-repeat="account in accounts">{{account}}</option>
    </select>
    </div>
    <div class="form-group">
      <label for="amountInEther">Amount in Ether</label>
      <input type="number" class="form-control" id="amountInEther" placeholder="1" ng-model="amount_from" />
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<div ng-show="transfer_success">
  <div class="alert alert-success" role="alert">
    Sending was a success.
  </div>
</div>

<div ng-show="has_errors">
  <div class="alert allert-error" role="alert">
    {{has_errors}}
  </div>
</div>
