<div ng-controller="WithdrawalController as withdrawal">
  <h1>Withdrawl</h1>
  <hr />
  <ul class="list-unstyled">
    <li ng-repeat="account in withdrawal.accounts">
      {{account}}
    </li>
  </ul>
  <div ng-hide="withdrawal.transfer_success">
    <form ng-submit="withdrawal.withdrawlFunds(address,amount)">
      <div class="form-group">
        <label for="addressTo">Address to</label>
        <input id="addressTo" ng-model="address" class="form-control" placeholder="0x3e61..." />
      </div>
      <div class="form-group">
        <label for="amountInEther">Amount in ether:</label>
        <input id="amountInEther" ng-model="amount" class="form-control" placeholder="1" />
      </div>
      <button type="submit" class="button button-default">Submit</button>
    </form>
  </div>
  <div ng-show="withdrawal.transfer_success">
    <div class="alert alert-success">
      Transfer successful
    </div>
  </div>
  <div ng-show="withdrawal.has_errors">
    <div class="alert alert-error">
      {{sendFunds.has_errors}}
    </div>
  </div>
</div>
